body {
    padding: 10px;
}

img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.imagesContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

a {
    width: fit-content;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border: 1px solid #000;
    text-decoration: none;
    color: #000;
    background-color: #fff;
    transition: 0.3s;
    border-radius: 5px;
}

a:hover {
    background-color: #000;
    color: #fff;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 2rem;
}

.textFrame {
    width: 100%;
    min-height: calc(100vh - 400px);
}

.negativeNumber {
    color: red;
}
